body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
}

header {
    margin: 1.25rem 2.5rem;
}

section {
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    color: #FF0878;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.navbar-list {
    list-style: none;
    padding: 0;
}

.navbar-list-item {
    display: inline;
}

.navbar-list-item:not(:last-child) {
    padding-right: 1rem;
}

.navbar-link {
    text-decoration: none;
    /* color: #E1DFDB; */
    color: #000;
}

.content-image {
    max-width: 100%;
    height: auto;
}

.section-wrapper {
    display: grid;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-top: 1.25rem;
}

.box {
    background-color: #444;
    border-radius: 5px;
    height: 200px;
    padding: 1.25rem;
}

.box > p {
    margin: 0;
}

@media (min-width: 508px) {
    .navbar {
        justify-content: space-between;
    }

    .title {
        padding-bottom: 0;
    }
    
    .content-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        max-width: 80%;
    }

    .section-wrapper {
        grid-template-columns: auto 60%;
    } 
    
    .projects {
        display: inline;
    }
}